/*Base*/
* {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 'light';
}

/*Nav area*/
.nav {
  background-color:#404041;
  height: 4rem;
  margin: auto;
  overflow:hidden;
  padding-bottom: 6rem;
  width:100%;
}

/*Header*/
.number-title {
  color:#ED458B;
  font-size: 3rem;
}

.guesser {
  color:#E6E7E8;
}

h2 {
  margin-left: 32rem;
  padding-top: 1rem;
}

/*Main*/
.top-buttons {
  display:flex;
  justify-content: space-between;
}

.guess-btn {
  background-color: #929497;
  border-radius: 30px;
  color: #ffffff;
  display:inline;
  font-size: 1.5rem;
  height: 3rem;
  margin-left: 31rem;
  margin-top: 3rem;
  outline:none;
  width: 13rem;
}

.clear-btn {
  background-color: #929497;
  border-radius: 30px;
  color: #ffffff;
  display:inline;
  font-size: 1.5rem;
  height: 3rem;
  margin-right: 28rem;
  margin-top: 3rem;
  outline:none;
  width: 13rem;
}

.allbtns:hover {
  background-color: #d0d2d3;
  border-style:none;
  cursor: pointer;
}

.allbtns:disabled {
  background-color: #d0d2d3;
}

h1 {
  color:#ED458B;
  font-size: 12rem;
  margin-left: 20rem;
}

.search-box {
  display:inline-block;
  font-size: 2rem;
  height: 3rem;
  margin-left: 31rem;
  margin-top: 3.5rem;
  outline:none;
  width: 34%;
}

input::placeholder {
  color:#d0d2d3;
}

h3 {
  color:#404041;
  font-weight: 300;
  margin-left: 36rem;
}

/*Game*/
.last-guess {
  color:#404041;
  font-size: 2rem;
  font-weight: 300;
  margin-left: 36rem;
  margin-top: 4.4rem;
}

.number {
  font-size: 15rem;
  font-weight: 300;
  margin-left: 35rem;
  margin-top: -2rem;
}

.too-high {
  color:#404041;
  font-size: 2rem;
  font-weight: 300;
  margin-left: 36rem;
  margin-top: -2.4rem;
}

.reset-btn {
  background-color: #929497;
  border-radius: 30px;
  color: #ffffff;
  font-size: 1.5rem;
  height: 3rem;
  margin-left: 28rem;
  margin-top: 5rem;
  outline:none;
  width: 37rem;
}

.reset-btn:hover {
  background-color: #eb008b;
}

.reset-btn:disabled {
  background-color: #d0d2d3;
}

.min-search {
  color:black;
  display:inline-block;
  height: 1.4rem;
  margin-left: 31rem;
  margin-top: 2.5rem;
  outline:none;
  width: 12%;
}


.max-search {
  color:#404041;
  display:inline-block;
  float: right;
  height: 1.4rem;
  margin-right: 36rem;
  margin-top: 2.5rem;
  outline:none;
  width: 12%;
}

